body{

font-family:Segoe UI,Arial;
background:#f4f6f9;
margin:0;
color:#333;

}

header{

background:#111;
color:white;
text-align:center;
padding:40px;

}

.container{

max-width:1000px;
margin:auto;
padding:40px;

}

table{

width:100%;
border-collapse:collapse;
margin-top:20px;

}

table td{

border:1px solid #ccc;
padding:10px;

}

h1,h2{

margin-top:20px;

}

footer{

text-align:center;
padding:20px;
color:#777;

}
